{% extends 'base.html.twig' %}

{% block title 'Ostéopathe - Pierre Tavostino' %}

{% block body %}

<section id="osteopathe" class="osteopathe">
    <div class="content-wrapper">
        <article class="">
            <!-- Présentation praticien -->
            <div class="container">
                <h1 class="text-align-center" role="tablist">Ostéopathe</h1>
                <div class="bouton"><a href="#contact-osteopathe" class="js-scrollTo">Contactez-moi</a></div>
                <!-- Photo -->
                <div class="presentation">
                    <div class="">
                        <div class="">
                            <h2>Pierre Travostino</h2>
                            <p>Ostéopathe D.O. (Diplôme d'Ostéopathie) <br> Ostéopathe T.O. (Titre d'Ostéopathe)</p>
                            <p>Diplômé de l'Institut Toulousain d'Ostéopathie</p>
                        </div>
                    </div>
                </div>
                <!-- Certification -->
                <div class="certification">
                    <p>Possède une certification en posturologie clinique, en micronutrition, en
                        praticien
                        énergétique et en périnatal-pédiatrique</p>
                </div>
                <!-- Presentation -->
                <div class="presentation-item">
                    <div class="presentation-item-content">
                        <h3>L'ostéopathie c'est quoi ?</h3>
                        <p>L’ostéopathie est une médecine douce, manuelle, qui s’emploie à déterminer et
                            à traiter les troubles fonctionnels qui peuvent affecter des structures composant le
                            corps humain. Ainsi j'interviens sur tous les patients hommes et femmes, en passant par la femme enceinte avec une sciatique, un nourrisson qui vient de naitre, un maçon qui est usé par son travail physique, un sportif qui a une tendinite, un chef d'entreprise surmené et stréssé ou encore une personne âgée qui récupère d'un malaise ou même d'un AVC....(ceci n'est qu'un échantillon de cas rencontrés en cabinet sur les centaines que je pourrais citer).<br><br>L’ostéopathe considère le corps dans sa globalité. Il a pour but de redonner
                            de la mobilité, là où il n’y en a pas ou peu. Un des principes fondamentaux de
                            l‘ostéopathie est la recherche de la cause.<br><br>L'ostéopathe un thérapeute de première intention, c’est-à-dire que le patient entre en relation directe avec lui, sans prescription médicale. Je commence donc toujours mes consultations par un interrogatoire détaillé et je les termine par un debriefing et des conseils hygiéno-diététiques personnalisés pour chaque patient.</p>
                    </div>
                </div>
            </div>
            <!-- Menu accordeon présentation des soins-->
            <div class="accordion-wrapper">
                <!-- Ostépathie pédiatrique -->
                <div class="accordion-item closed">
                    <div class="nourisson accordion-item-heading">
                        <div class="accordion-head-content">
                            <h3>Ostépathie pédiatrique</h3>
                            <div class="lien">
                                <p>Je consulte un expert</p>
                                <p>&#x2794;</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-content">
                        <p>L'accouchement peut être le premier des traumatismes pour le bébé. Trop long ou trop court, il peut perturber le fonctionnement normal des structures craniennes et leur développement. S'il est difficile, il peut nécessiter l'emploi de spatules, ventouses ou forceps, qui vont influer sur la mobilité des jonctions des os du crâne et occasionner des troubles fonctionnels immédiats ou ultérieurs.<br><br>Dès les 1er jours de sa vie, bébé peut être pris en charge pas un ostéopathe pédiatrique.
                        </p>
                        <div class="bouton"><a
                                    href="https://www.doctolib.fr/osteopathe/eaunes/pierre-travostino">Prendre
                                rendez-vous en ligne</a></div>
                        <div class="bouton"><a href="#contact-osteopathe" class="js-scrollTo">Contactez-moi</a></div>
                    </div>
                </div>
                <!-- Posturologie clinique -->
                <div class="accordion-item closed">
                    <div class="posologie accordion-item-heading">
                        <div class="accordion-head-content">
                            <h3>Posturologie clinique</h3>
                            <div class="lien">
                                <p>J'analyse ma posture</p>
                                <p>&#x2794;</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-content">
                        <p>En lien avec l'ostéopathie, la posture permet une prise en charge complémentaire.<br><br>Spécialisé en posturologie clinique, je n'hésite pas à réorienter le patient si cela ne relève pas du ressort de l'ostéopathie ou bien nécessite une intervention autre (port de semelles, lunettes, appareillage dentaire ou auditif ...) en plus de l'ostéopathie.</p>
                        <div class="bouton"><a
                                    href="https://www.doctolib.fr/osteopathe/eaunes/pierre-travostino">Prendre
                                rendez-vous en ligne</a></div>
                        <div class="bouton"><a href="#contact-osteopathe" class="js-scrollTo">Contactez-moi</a></div>
                    </div>
                </div>
                <!-- Ostéoparthie sportif -->
                <div class="accordion-item closed">
                    <div class="sport accordion-item-heading">
                        <div class="accordion-head-content">
                            <h3>Ostéoparthie sportif</h3>
                            <div class="lien">
                                <p>Je me dépasse</p>
                                <p>&#x2794;</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-content">
                        <p>Passionné de sports qu'ils soient collectifs ou individuels, j'interviens sur de nombreux sportifs amateurs, semi-professionnels et même professionnels.<br><br>Je suis membre actif de la FFR (Fédération Française de Rugby) en tant qu'ostéopathe officiel d'une équipe de rugby.<br><br>Atteingnez votre objectif grâce au suivi d'un expert dans le domaine du sportif. </p>
                        <div class="bouton"><a
                                    href="https://www.doctolib.fr/osteopathe/eaunes/pierre-travostino">Prendre
                                rendez-vous en ligne</a></div>
                        <div class="bouton"><a href="#contact-osteopathe" class="js-scrollTo">Contactez-moi</a></div>
                    </div>
                </div>
                <!-- Micronutrition -->
                <div class="accordion-item closed">
                    <div class="micronutrition accordion-item-heading">
                        <div class="accordion-head-content">
                            <h3>Micronutrition</h3>
                            <div class="lien">
                                <p>Mon alimentation individuel</p>
                                <p>&#x2794;</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item-content">
                        <p>La médecine nutritionnelle a comme finalité la santé du patient en optimisant les
                            fonctions des cellules, tissus et organes.</p>
                        <div class="bouton"><a
                                    href="https://www.doctolib.fr/osteopathe/eaunes/pierre-travostino">Prendre
                                rendez-vous en ligne</a></div>
                        <div class="bouton"><a href="#contact-osteopathe" class="js-scrollTo">Contactez-moi</a></div>
                    </div>
                </div>
            </div>
            <!-- Contact Osteopathe -->
            <div id="contact-osteopathe" class="contact-position text-align-center">
                <p>Consultation au cabinet</p>
                <p>Sur rendez-vous</p>
                <a href="tel:+33667394690">
                    <p><img src={{ "/media/public/logo-telephone.jpg" }} alt="icone-telephone" class="logo-phone">0667 39 46 90</p>
                </a>
                <a href="mailto:travostinopierre@gmail.com">
                    <p><img src="{{'/media/public/logo-email.jpg'}}" alt="icone-email" class="logo-email">travostinopierre@gmail.com
                    </p>
                </a>
                <p>
                    <a href="https://www.osteopt.site" target="_blank" class="focus">www.osteopt.site</a>
                </p>
                <div class="btn"><a href="https://www.doctolib.fr/osteopathe/eaunes/pierre-travostino"
                                    target="_blank">Prendre
                        rendez-vous sur
                        doctolib</a></div>
            </div>
        </article>
    </div>
</section>

{% endblock %}