{% extends 'base.html.twig' %}

{% block title 'Sage Femme - Éléonore Helle' %}

{% block body %}

    <section id="sage-femme" class="">
        <div class="content-wrapper">
            <article class="">
                <!-- Présentation praticien -->
                <div class="container">
                    <div class="bgimg-1">
                        <div class="">
                            <h1 class="text-align-center">Sage-Femme</h1>
                            <div class="bouton"><a href="#contact-sage-femme" class="js-scrollTo">Contactez-moi</a></div>
                            <!-- Photo -->
                            <div class="presentation">
                                <div class="">
                                    <h2>Éléonore Helle</h2>
                                    <p class="logo">&</p>
                                    <p>Sage-Femme D.E (Diplômé d'État)</p>
                                </div>
                            </div>
                            <!-- Certification -->
                            <div class="certification">
                                <p> Sage-femme Diplômés d'État en excercice libéral & conventionné
                                </p>
                            </div>
                            <!-- Presentation -->
                            <div class="presentation-item">
                                <div class="presentation-item-content">
                                    <p>La sage femme libérale assure les consultations de grossesse, la préparation à la naissance, le suivi et retour à domicile. Elle pratique également le suivis gynécologique et la contraception.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bgimg-2">
                        <div id="" class="text-align-center contact-position">
                            <p>Consultation au cabinet ou à domicile</p>
                            <p>Sur rendez-vous</p>
                            <a href="tel:+33666562519">
                                <p><img src="{{'/media/public/logo-telephone.jpg'}}" alt="icone-telephone" class="logo-phone">0666 56 25 19</p>
                            </a>
                            <a href="mailto:eleonore.helle@hotmail.fr">
                                <p><img src="{{'/media/public/logo-email.jpg'}}" alt="icone-email" class="logo-email">eleonore.helle@hotmail.fr</p>
                            </a>
                            <div class="bouton">
                                <a href="https://www.doctolib.fr/sage-femme/muret/eleonore-helle" target="_blank">Prendre rendez-vous sur doctolib</a>
                            </div>
                        </div>
                    </div>
                    <div class="bgimg-1">
                        <h3>Quand consulter votre sage-femme ?</h3>
                        <!-- Présentation des soins -->
                        <div class="soin-item">
                            <div class="soin-item-content">
                                <h3>Gynécologie</h3>
                                <p>Pour votre contraception, vous pouvez vous adresser à votre sage-femme, quelque soit
                                    le choix que avez fait. Elle pose même les DIU* !</p>
                                <p>Elle réalisera également le frottis (pas nécessaire avant 25ans), ains que les
                                    prélèvements lors d'un dépistage d'infection vaginale.</p>
                                <p>Et pour finir le suivi gynécologique, elle effectuera l'examen des seins, qui est
                                    très important, car plus le cancer du sein est dépisté tôt, meilleure sera la prise
                                    en charge ! </p>
                            </div>
                            <div class="soin-item-content">
                                <h3>Suivi de grossesse</h3>
                                <p>Félicitations, vous êtes enceinte! Mais commence aussi le début des démarches
                                    administratives...</p>
                                <p>Il faut d'abord qu'un professionnel de santé remplisse la déclaration de grossesse
                                    (ce qui permet de n'avancer aucun frais médicaux du 6ème mois de grossesse, jusqu'au
                                    12ème jours de votre enfant). </p>
                                <p> Seulement après, commence votre suivis mensuel qui a pour but de prévenir certains
                                    risques, dépister d'éventuelles pathologies et surtout de s'assurer du bien-être
                                    maternel et foetal. </p>
                            </div>
                            <div class="soin-item-content">
                                <h3>Préparation à l'accouchement</h3>
                                <p>Un entretien prénatal pendant votre 4ème mois et 7 cours à partir du 7ème mois sont
                                    prévus et remboursés par la sécurité sociale. Les cours sur différents thèmes
                                    abordent tous les sujets autour de la grossesse et de l'accouchement. Pas de tabous,
                                    vous êtes ici pour apprendre, échanger, et trouver des réponses à vos questions.</p>
                            </div>
                            <div class="soin-item-content">
                                <h3>Visite à domicile</h3>
                                <p>Le retour à la maison est quelque peu angoissant : combien de fois doit-il prendre le
                                    biberon ? Est-ce que mon bébé tète suffisamment ? Ses selles sont-elles normales ?..
                                </p>
                                <p>Les professionnels de santé le savent, apprendre à s'occuper de son enfant n'est pas
                                    inné. C'est pour cela que les sages-femmes se rendent à votre domicile, (dans les 7
                                    premiers jours après l'accouchement) mais aussi pour s'assurer de l'état de santé de
                                    votre enfant ainsi que du votre.</p>
                                <p>Si vous n'avez pas encore de Sage-femme libérale, la plus proche de chez vous, vous
                                    sera attribuée lors de votre séjour à la maternité.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Sage-Femme -->
                <div id="contact-sage-femme" class="text-align-center contact-position">
                    <p>Consultation au cabinet ou à domicile</p>
                    <p>Sur rendez-vous</p>
                    <a href="tel:+33666562519">
                        <p><img src="{{'/media/public/logo-telephone.jpg'}}" alt="" class="logo-phone">0666 56 25 19</p>
                    </a>
                    <a href="mailto:eleonore.helle@hotmail.fr">
                        <p><img src="{{'/media/public/logo-email.jpg'}}" alt="" class="logo-email">eleonore.helle@hotmail.fr
                        </p>
                    </a>
                    <a href="https://www.muret-sage-femme.com" target="_blank"
                       class="focus">www.muret-sage-femme.com</a>
                    <div class=bouton><a href="https://www.doctolib.fr/sage-femme/muret/eleonore-helle" target="_blank">Prendre rendez-vous sur doctolib
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}